.view-auth-user-list main .main-container {
	.bottom-content {
		.page-content {
			.inner {
				padding: 10px;


				.tile-item {

					&.disabled {
						.tile-body {
							opacity: .3;
							text-decoration-line: line-through;
						}
					}

					.tile-tail {
						.btn {
							margin-left: 10px;
						}

						.btn:first-child {
							margin-left: 0;
						}
					}

					.tile-metrics {
						flex: 1;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;

						.widget,
						.form-group {
							margin: 0;
						}

						label {
							flex-grow: 0;
						}

						input {
							margin-left: 10px;
							margin-right: 10px;
							max-width: 320px;
						}
					}
				}
			}
		}
	}
}





